.about_container {
  width: 100%; /* Au lieu de max-width: 900px */
  max-width: none; /* Augmentez si nécessaire */
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #222;
  box-sizing: border-box; /* Important pour inclure padding dans le calcul de largeur */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
    width: 100%;
}

header {
    background-color: #fbff00;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}


#hero {
    background: url('../images/bg.jpg') no-repeat center center/cover;
    opacity: 75%;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

#services, #gallery, #contact {
    margin-top: 40px;
}

footer {
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
}

.footTextColor {
    color: #fff;
}

#logo_about {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.logo_about {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

#Text_Gallery {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 768px) {
  .about_container {
    width: 95%;
    padding: 10px;
  }
  
  iframe {
    height: 300px !important;
  }
}